<app-navbar></app-navbar>

<div class="container">
    <div class="row">
        <div class="col col-12-col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <label for="" class="form-label">Name</label>
            <input placeholder="Enter your name" type="text" class="form-control">
        </div>
        <div class="col col-12-col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <label for="" class="form-label">Address</label>
            <textarea placeholder="Enter your password" name="" id="" cols="30" rows="10" class="form-control"></textarea>
        </div>
        <div class="col col-12-col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <label for="" class="form-label">Pincode</label>
            <input placeholder="Enter your pincode" type="text" class="form-control">
        </div>
        <div class="col col-12-col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <label for="" class="form-label">Distrist</label>
            <select name="select" id="select" class="form-control">
                <option value="Idukki">Idukki</option>
                <option value="Ernakulam">Ernakulam</option>
                <option value="Alappuzha">Alappuzha</option>
                <option value="Kannur">Kannur</option>
                <option value="Kasaragod">Kasaragod</option>
                <option value="Kollam">Kollam</option>
                <option value="Kottayam">Kottayam</option>
                <option value="Kozhikode">Kozhikode</option>
                <option value="Malappuram">Malappuram</option>
                <option value="Palakkad">Palakkad</option>
                <option value="Pathanamthitta">Pathanamthitta</option>
                <option value="Thiruvananthapuram">Thiruvananthapuram</option>
                <option value="Thrissur">Thrissur</option>
                <option value="Wayanad">Wayanad</option>
            </select>
        </div>
        <div class="col col-12-col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <label for="" class="form-label">Mobile No</label>
            <input placeholder="Enter your number" type="text" class="form-control">
        </div>
        <div class="col col-12-col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <label for="" class="form-label">Quantity</label>
            <input type="number" class="number form-control">
        </div><p>

        </p>
        <div class="col col-12-col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <label for="" class="form-label"></label>
         <a href="/payment"><button class="btn btn-success">Pay Now</button></a>
            </div>
            </div>
            </div>