<div class="container">
    <div class="row">

        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
        <label for="" class="form-label">Username</label>
        <input placeholder="Enter you username" type="text" class="form-control">
        </div>
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <label for="" class="form-label">Password</label>
            <input placeholder="Enter you password"type="text" class="form-control">
        </div>
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

             <a href="/home"><button class="btn btn-success">Login</button></a>
        </div>
    </div>
</div>