<app-navbar></app-navbar>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://images2.alphacoders.com/208/thumb-1920-208042.jpg" class="d-block w-100" alt="...">
      </div>
      
    </div>
  </div>


<div class="container">
<div class="row">
    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

        <div class="container">
            <div class="row g-3">
               <h1>About Us</h1> 
                        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                            For me the foray into making chocolates after having spent working over a decade in corporate life happened by “chance and luck” showered on me after the birth of my daughter. I decided to give up full time 9 to 6 job to pursue chocolate making as more than a mere kitchen hobby and that’s how the idea of Reema Singh’s The Chocolate Factory was born. So it’s as old as my elder daughter now

                        </div>
                        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                            It has been an amazing journey so far and I wish to keep doing what I love the most now after my family: chocolate making
                        </div>
                    </div>
                </div>



    </div>
</div>
</div>
